.container {
  padding: 100px 0px 0px 300px;
  display: flex;
  flex-direction: column;
}

.container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile {
  background-color: wheat;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.dark {
  background-color: burlywood;
}

.tile.selected {
  background-color: yellow;
}

.tile.selectable {
  cursor: pointer;
}

.tile.moveable {
  background-color: red;
}

.tile img {
  width: 90px;
  height: 90px;
}
